<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/add_user.css">
    </head>
    <body>
        {% extends "layout.html" %}
        {% block content %}
        <div class="add_user">
            <h1 class="title">Add an Admin</h1>
            <form method="post">
                <div class="add-user-inputs">
                    <input type="text" placeholder="Username" name="username" />
                    <br></br>
                    <input type="password" placeholder="Password" name="password" />
                    <br></br>
                    <button class="btn" type="submit">Go!</button>
                    <h2>{{ msg }} </h2>
                </div>
            </form>
        </div>
        {% endblock %}
    </body>

</html>